<div class="container justify-content-md-center">
  <div class="row justify-content-md-center">
    <div class="col-md-auto">
    <h1 >TodoApp </h1> 
    </div>
    <div  class="col-md-auto">
      <img (click)="clickAdd()" src="../assets/add.png"/>
    </div>
  </div>
  
  @if (todos) {
    @for (todo of todos; track $index) {
    <div  class="row justify-content-md-center" >
      <div class="col-md-4">
        <p (click)="openTodo(todo)" class="border rounded" style="padding-top: 10px; align-items: center;" >
          {{ todo.title }}
        </p>
      </div>
      <div class="col-md-1">
        <img src="../assets/delete.png" style="height: 20px; width: 20px;" (click)="deleteTodo(todo)">
        </div>
    </div>
    }
  }
</div>