.add-button {
    margin-top: 40px;
    width: 40px;
    height: 40px;
}

.todo-container {
    padding-top: 13px;
}

.delete-button {
    margin-top: 20px;
    height: 25px;
    width: 25px;
}

.todo-content {
    text-align: center;
    font-size: 25px;
}

.switch {
    background-color: gray;
    border: none;
    box-shadow: none;
}

.form-switch .form-check-input {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='white'/%3e%3c/svg%3e");
}

.switch:checked {
    background-color: cadetblue;
    box-shadow: none;
    border: none;
}