<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-md-auto">
    <h1 >TodoApp </h1> 
    </div>
    <div  class="col-md-auto">
      @if(showAdd){
        <img (click)="clickAdd()" src="../assets/add.png"/>
      }
    </div>
  </div>
  
  <div class="row justify-content-md-center">
  <div class="col"></div>
  <div  class="col">
  @if (todos) {
    @for (todo of todos; track $index) {
    <p>{{ todo.title }} <input type="checkbox" /></p>
    }
  }
  </div>
  <div class="col"></div>
  </div>
</div>